<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EasyCoding{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'blog/images/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="website, web design, web development, web builder, web pages, web developer, web dev, web freelancer" />
    <meta name="description" content="website, web design, web development, seo, online marketing to be done by our professional knowledge, skill and experience" />
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'blog/css/custom.min.css' %}">
    <script src="https://kit.fontawesome.com/e57bc5ae97.js" crossorigin="anonymous"></script>
</head>
<body>
{% include 'blog/navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card shadow-sm border-0 p-4 mb-4">
                <div class="text-center">
                    <img height="80" width="80" class="rounded-circle mb-3" src="{% static 'basecamp/images/mykids.jpg' %}" />
                    <h1 class="my-3">About Me</h1>
                    <h3 class="mb-4 text-muted">This is Sung Kam from EasyCoding</h3>
                </div>
                <div>
                    <p>I am still studying computer software programming for web development.  
                    This website is one of my outcomes on the way to my ultimate goal.  
                    Another website I made is <a href="https://easygoshuttle.com.au">easygoshuttle.com.au</a>.  
                    I love to learn and build something with my own hands.  
                    Ultimately, I hope my work makes others happy—because their happiness is my success!</p>

                    <p><strong>My Skill Set</strong>: HTML5, CSS, JavaScript, Python, Django, Responsive HTML email, HTMX, Bootstrap, Git & GitHub, AWS S3, GCP deployment, Gunicorn & Nginx.  
                    Experience with Celery, celery-beat, Redis, Docker Compose, full setup deployment, and SEO.</p>
                </div>
                <blockquote class="blockquote text-right mt-4 mb-0">
                    <p>“STAY HUNGRY, STAY FOOLISH” — Steve Jobs</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <img class="img-fluid" src="{% static 'basecamp/images/Capture1.JPG' %}"/>
        </div>
        <div class="col-md-2">
            <img class="img-fluid" src="{% static 'basecamp/images/Capture.JPG' %}"/>
        </div>
        <div class="col-md-6">
                <p><a href= "mailto:sungkam3@gmail.com"><i class="fal fa-envelope"></i>    sungkam3@gmail.com</a></p>
                <p><a href= "sms:+61406883355"><i class="fad fa-sms"></i>    sms: message me </a></p>
                {% if request.user.is_authenticated %}
                <p><a href= "#"><i class="fal fa-address-card"></i>    resume</a></p>
                {% else %}
                <p><a href="account/login" data-toggle="modal" data-target="#loginModal"><i class="fal fa-address-card"></i>    resume</a></p>
                {% endif %}
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
    <br>
    <br>
    <br>
<div class="container">
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-11">
            <div class="footer container-xl width-full p-responsive" role="contentinfo">
            <ul class="list-style-none border-top d-flex flex-wrap flex-justify-center flex-lg-justify-between ">
                <li class="mr-3 mr-lg-2 list-unstyled">&copy; 2020 EasyCoding</li>
                <li class="mr-3 mr-lg-2 list-unstyled"><a href="mailto:sungkam3@gmail.com">contact</a></li>
                <li class="mr-3 mr-lg-2 list-unstyled"><a href="/terms/" data-ga-click="Footer, go to terms, text:terms">terms</a></li>
                <li class="mr-3 mr-lg-2 list-unstyled"><a href="/privacy/" data-ga-click="Footer, go to privacy, text:privacy">privacy</a></li>
        </ul>
    </div>
</div>

    <br>

<script src="{% static 'blog/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/js/popper.min.js' %}"></script>
<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/js/custom.js' %}"></script>

</body>
</html>
